{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">

        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price per item</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>

  {% for cart_product in products %}

    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ cart_product.product.name }}</td>
      <td>{{ cart_product.qty }}</td>

      <td>{{ cart_product.product.price }}</td>
      <td>{{ cart_product.sum }}</td>


    </tr>
  {% endfor %}

      <tr>
      <th scope="col" colspan="4">Total cost:</th>
      <th scope="col">{{ total_cost }}</td>
    </tr>
  </tbody>
</table>

<a class="btn btn-primary" href="{% url 'cart' %}" role="button">Edit cart</a>



    </div>
</div>





{% endblock %}

