{% extends 'base.html' %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'catalog' %}">Catalog</a></li>
      {% for crumb in crumbs %}
    <li class="breadcrumb-item"><a href="{{ crumb.get_absolute_url }}">{{ crumb }}</a></li>
      {%endfor%}
    <li class="breadcrumb-item active" aria-current="page">{{ category }}</li>
  </ol>
</nav>



<div class="row row-cols-1 row-cols-md-3 g-4">
{% for product in products %}
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"></a>
                <div class="card-body">
                    <a href="{{ product.get_absolute_url }}"><h5 class="card-title">{{ product.name }}</h5></a>
                    <p class="card-text">{{ product.short_description|default_if_none:""|truncatechars:64 }}</p>
                    <a href="{% url 'add-to-cart' product.pk %}" class="btn btn-primary">To cart</a>
                </div>
        </div>
    </div>
{% endfor %}
</div>




{% endblock %}

